@model GameShop.Models.GameRepository

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>GET INTO GAME ACTION</h2>
   @using (Html.BeginForm("Search", "Home", FormMethod.Post))
   {
    ViewBag.
    for (int i = 0; i < Model.Games.Count(); i++)
    <div> 
        <p>Choose Game By</p>
        <p>Name:</p>
        Html.TextBoxFor(m => m.)
        <p>Genre:</p>

        <p>Release Year:</p>

        <p>Violence Rating:</p>
        
        <p></p>   
           
              Html.TextBoxFor(m => m.makis)
              Html.TextBoxFor(m => m.psomiadis)
        </>
    </div>
   }
</body>
</html>
