@model List<GameShop.Models.Game>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>GET INTO GAME ACTION</h2>

    @using (Html.BeginForm("Display", "Home", new { y1 = ViewBag.year1  }))
    {
    <p>Search the game you are looking for</p>
    Html.TextBoxFor(m => m.)
    }


    @using (Html.BeginForm("Display", "Home"))
    {
        <table class="table table-condensed">
           <thead>
             <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Publish Year</th>
                <th>Cost</th>
                <th>Violence Rating</th>
                <th>Company</th>
             </tr>
               <tbody>
                   <tr></tr>
               </tbody>
           </thead>

        </table>
        @Html.TextBox("genre") 
    }



</body>
</html>
