@model List<Tour.Models.Ticket>

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tickets</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("AddTicketDetails", "Home", FormMethod.Post))
        {
            foreach (var ticket in Model)
            {
                @Html.TextBoxFor(m => ticket.TicketName)
                @Html.TextBoxFor(m => ticket.Class)
            }
        }
    </div>
    <div>
        @ViewBag.Q;
    </div>
</body>
</html>
