@model IEnumerable<WorldTour.Models.Ticket>

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tickets</title>
</head>
    <body>
        <div>       
            <form method="post" action="@Url.Action("AddTicketDetails", "Home")">

                    @for (int i = 0; i < @ViewBag.Q; i++)
                    {
                        <input type="text" name="Tickets[i].TicketName" />
                        <input name="people[0].name" />
                    }
                  <button type="submit" style="margin-left:100px;">Submit Tickets</button>
          </form>
      </div>
   </body>
</html>
